/*Fonts*/
@font-face {
    font-family: "fleurDeLeah";
    src: url(./assets/fonts/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: "cookies";
    src: url(./assets/fonts/Cookie-Regular.ttf);
}

@font-face {
    font-family: "DawningofanewDay";
    src: url(./assets/fonts/DawningofaNewDay-Regular.ttf);
}

@font-face {
    font-family: "Frederickat";
    src: url(./assets/fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "RubikBeastly";
    src: url(./assets/fonts/RubikBeastly-Regular.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}

/*variables*/
:root {
    --font-sizeh3: 2.2em;
    --fonth1: "fleurDeLeah", arial, sans-serif;
    --fonth3: "cookies", arial, sans-serif;
    --fontnavbar: "Frederickat", sans-serif;
    --navbar-bg-colorlight: rgb(160, 204, 188);
    --bg-genres: rgb(160, 204, 188);
    --navbar-colorlight: black;
    --navbar-bg-color: rgb(51, 26, 26);
    --navbar-color: rgb(248, 238, 225);
    --liens-color: rgb(109, 41, 155);
    --fontp: "cookies", Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    --fontsizep: 1.5em;
}


/*reset*/
* {
    outline: none;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
    font-weight: 600;
}

/*body main*/
.genres {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(to left, rgb(127, 221, 224), rgb(160, 204, 188),rgb(104, 95, 94));

}

h2 {
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 1px 2px 2px black, 0 0 2em rgb(68, 73, 69), 0 0 0.2em rgb(43, 49, 45);
    color: white;
    font-family: var(--fonth1);
    text-transform: capitalize;
    height: 100px;
}

h3 {
    font-size: var(--font-sizeh3);
    font-family: var(--fonth3);
    line-height: 2em;
}

.em {
    margin-bottom: 1em;
}

.space p, .alice p {
    line-height: 2em;
}

.space .em, .portal .em {
    margin-bottom: 0;
}

.genre {
    padding: 20px;
    width: 70%;
    height: 100%;
    border-right: solid 5px black;
}

.images {
    position: relative;
    padding-top: 10px;
    height: 100%;
    width: 30%;
    text-align: center;
}

.images p {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
}

.images img {
    max-width: 85%;
    right: 2%;
    margin-top: 12px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
}

.images:hover img {
    transform: scale(0.9);
}

p {
    font-size: var(--fontsizep);
    line-height: 1em;
    font-family: var(--fontp);
}

.liens {
    text-decoration: none;
    color: var(--liens-color);
}

.liens:hover {
    font-size: 125%;
}

.captain, .merlin, .alice {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}

/** dark-mode **/

.dark-mode .navbar {
    background: var(--navbar-bg-color);


}

.dark-mode .link>a {
    color: var(--navbar-color);
}


/*navbar*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.mode {
    height: 28px;
    width: 31px;
    background-image: url(/assets/images/dark.jpg);
    opacity: 0.7;
    border-radius: 50%;
    border: white;
    background-size: contain;
    margin-left: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    padding: 8px;
    height: 40px;
    font-size: 16px;
    background-color: var(--navbar-bg-colorlight);
    font-family: var(--fontnavbar);
    color: var(--navbar-colorlight);
    text-transform: uppercase;
}

.nav-ul {
    display: flex;

}

.link {
    padding: 0 8px;
}

.link>a {
    color: var(--navbar-colorlight);
    text-decoration: none;
}

/*burger*/
.burger {
    display: none;
}

/*mediaqueries max*/

@media screen and (max-width:768px) {
    .genres{
        width: 100%;
        overflow-x: hidden;
    }

    /**dark mode**/
    .dark-mode .active .nav-ul {
        background: var(--navbar-bg-color);
    }

    .dark-mode .link>a {
        color: var(--navbar-color);
    }

    .dark-mode .bar {
        background-color: white;
    }

    .dark-mode .bar::after {
        background-color: white;
    }

    .dark-mode .bar::before {
        background-color: white;
    }

    /**navbar**/
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 50px);
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--navbar-bg-colorlight);
        transition: width 0.5s 0.1s ease-in-out;
    }


    .active .nav-ul {
        display: flex;
        width: 100%;
    }

    .link>a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    .burger {
        display: block;
        height: 50px;
        width: 50px;

        padding: 0;
        cursor: pointer;
        position: relative;
        background: transparent;
        border: none;
    }

    .bar {
        width: 45px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-10px);
    }

    .bar::after {
        transform: translateY(10px);
    }

    .active .bar {
        width: 0;
        background-color: transparent;
    }

    .active .bar::before {
        transform: rotate(45deg);
    }

    .active .bar::after {
        transform: rotate(-45deg);
    }

    /**body**/
    .main {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 5px 10px 5px 10px;
    }

    .genre {
        border-right: 0px;
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }
    h3 {
        font-size: 2em;
        font-family: var(--fonth3);
        line-height: 1.5em;
    }
    

    .images {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .space p, .alice p {
        line-height: 1.2em;
    }

    .images img {
        width: inherit;
        right: 0;
    }

    .merlinImg {
        display: none;

    }

    .images:hover img {
        transform: none;
    }

    .images p {

        margin-bottom: 0;
        margin-top: 0;
    }

    .captain, .alice {
        display: flex;
        flex-direction: column;
        margin: 8px;
    }

    .captain img {
        width: min-content;
    }

}

/**mobile**/
@media only screen and (max-width: 320px) {

    .main {
        padding: 10px 15px 10px 15px;

    }

    .images img {
        width: 100%;
        right: 0;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
        height: 50px;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
        line-height: 1em;
        font-family: var(--fontp);

    }

    .captain img {
        width: 100px;
    }

    .images p {
        font-size: 1em;
    }



    /**navbar**/
    .navbar {
        height: 30px;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 40px);
        position: absolute;
        top: 40px;
    }
    .active .nav-ul {

        width: 100%;
        display: flex;
    }
    .link>a {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 1rem;
        letter-spacing: 5px;
    }

    .logo img {
        height: 40px;
        background-image: center;
    }

    .mode {
        height: 20px;
        width: 23px;
        background-image: url(/assets/images/dark.jpg);
        background-size: contain;
        margin-left: 10px;
        opacity: 0.5;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
}

/*mediaqueries min */
@media screen and (min-width:768px) {

    /**darkmode**/
    .dark-mode .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-color);
        transition: width 0.4s;
    }

    .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-colorlight);
        transition: width 0.4s;
    }

    .link:hover>a::after {
        width: 100%;
    }

    .genre {
        padding: 20px;
        width: 70%;
        height: 100%;
        border-right: solid 5px black;
    }

    .images {
        position: relative;
        padding-top: 10px;
        height: 100%;
        width: 30%;
        text-align: center;
    }

}