/*Fonts*/
@font-face {
    font-family: "fleurDeLeah";
    src: url(./assets/fonts/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: "DawningofanewDay";
    src: url(./assets/fonts/DawningofaNewDay-Regular.ttf);
}

@font-face {
    font-family: "Frederickat";
    src: url(./assets/fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "RubikBeastly";
    src: url(./assets/fonts/RubikBeastly-Regular.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "cookies";
    src: url(./assets/fonts/Cookie-Regular.ttf);
}


/*variables*/
:root {
    --font-size: 1rem;
    --fonth1: "fleurDeLeah", arial, sans-serif;
    --fonth3: "cookies", arial, sans-serif;
    --fontnavbar: "Frederickat", sans-serif;
    --navbar-bg-colorlight: rgb(160, 204, 188);
    --navbar-colorlight: black;
    --navbar-bg-color: rgb(51, 26, 26);
    --navbar-color: rgb(248, 238, 225);
}


/*reset*/
* {
    outline: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    font-weight: 600;
}

/*body*/
.personnages {
    background-image: url(./assets/images/fondNoir.JPG);
    background-position: center;
    background-size: cover;
    color: rgb(241, 216, 178);
    font-size: 16px;

}

.titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;

}

.titre h1 {
    font-size: 7vw;
    font-family: var(--fonth1);
    text-align: center;
}

h3 {
    font-family: var(--fonth3);
    text-align: center;
    font-size: 3em;
}

.imgTitre {
    width: 20%;
    height: auto;
}

.legend1 {
    color: #faf9fd;
    background-color: rgba(151, 151, 151, 0.24);
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: auto;
    opacity: 0;
}

.legend3 {
    color: #faf9fd;
    background-color: rgba(151, 151, 151, 0.24);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: auto;
    opacity: 0;
}

.legend4 {
    color: #faf9fd;
    background-color: rgba(151, 151, 151, 0.24);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 87%;
    width: auto;
    opacity: 0;

}

.legend2 {
    color: black;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 85%;

    width: auto;
    opacity: 0;
}

.animalFantasy:hover .legend1 {
    opacity: 1;
    border-radius: 1px;
    background: #b6b4b4;
    box-shadow: 7px 7px 14px #717070,
        -7px -7px 14px #fbf8f8;
}

.animalFantasy:hover .legend3 {
    opacity: 1;
    border-radius: 1px;
    background: #b6b4b4;
    box-shadow: 7px 7px 14px #717070,
        -7px -7px 14px #fbf8f8;
}

.animalFantasy:hover .legend4 {
    opacity: 1;
    border-radius: 1px;
    background: #b6b4b4;
    box-shadow: 7px 7px 14px #717070,
        -7px -7px 14px #fbf8f8;
}

.animalFantasy:hover .legend2 {
    opacity: 1;
}

/*texte apparait avec click*/
.clickImg {
    cursor: pointer;
}

.textClick {
    display: none;
    background-color: powderblue;
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

/**footer**/
.papaNoel {
    background-image: url(./assets/images/pere-noel.jpg);
    background-size: contain;
    background-repeat: repeat;
    height: 80px;
    width: 100%;
    opacity: 0.8;
}

/*slides dragon*/
.dragons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 1.5%;
}

.slideDragons {
    display: flex;
    flex-direction: column;
}

.mySlides {
    display: flex;

}

img {
    width: 100%;
}

.animalFantasy {
    align-content: flex-start;
    width: 30%;
    height: auto;

}

/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;

}

/* legende */
.legend {
    color: #f7f6fa;
    background-color: rgba(0, 0, 0, 0.137);
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    text-align: center;
}

/* numéro de slide (1/8 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* items */
.items {
    text-align: center;
}

.item {
    margin-top: 10px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.actives {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/** dark-mode **/

.dark-mode .navbar {
    background: var(--navbar-bg-color);


}

.dark-mode .link>a {
    color: var(--navbar-color);
}


/*navbar*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.mode {
    height: 28px;
    width: 31px;
    background-image: url(/assets/images/dark.jpg);
    opacity: 0.7;
    border-radius: 50%;
    border: white;
    background-size: contain;
    margin-left: 8px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    z-index: 3;
    padding: 8px;
    height: 40px;
    font-size: 16px;
    background-color: var(--navbar-bg-colorlight);
    font-family: var(--fontnavbar);
    color: var(--navbar-colorlight);
    text-transform: uppercase;
    cursor: pointer;
}

.nav-ul {
    display: flex;

}

.link {
    padding: 0 9px;
}

.link>a {
    color: var(--navbar-colorlight);
    text-decoration: none;
}

/*burger*/
.burger {
    display: none;
}

/*mediaqueries max*/

@media screen and (max-width:768px) {

    /**body**/
    .titre {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;

    }

    .titre h1 {
        font-size: 60px;
        font-family: var(--fonth1);
    }


    h3 {
        font-size: 1.5em;
    }

    .imgTitre {
        display: none;
        width: 0%;
    }

    .legend1, .legend3 {
        font-size: 15px;
        position: absolute;
        bottom: 18px;
        width: auto;
        opacity: 0;
    }

    /* items */
    .items {
        text-align: center;
    }

    .item {
        margin-top: 8px;
        height: 10px;
        width: 10px;
        margin: 0 1px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    /**burger**/
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 50px);
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--navbar-bg-colorlight);
        transition: width 0.5s 0.1s ease-in-out;
    }


    .active .nav-ul {
        display: flex;
        width: 100%;
    }

    .link>a {
        display: block;
        padding: 10px;
        font-size: 1.3rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    .burger {
        display: block;
        height: 50px;
        width: 50px;

        padding: 0;
        cursor: pointer;
        position: relative;
        background: transparent;
        border: none;
    }

    .bar {
        width: 45px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-10px);
    }

    .bar::after {
        transform: translateY(10px);
    }

    .active .bar {
        width: 0;
        background-color: transparent;
    }

    .active .bar::before {
        transform: rotate(45deg);
    }

    .active .bar::after {
        transform: rotate(-45deg);
    }

}

/**dark mode **/
.dark-mode .active .nav-ul {
    background: var(--navbar-bg-color);


}

.dark-mode .link>a {
    color: var(--navbar-color);
}

.dark-mode .bar {
    background-color: white;
}

.dark-mode .bar::after {
    background-color: white;
}

.dark-mode .bar::before {
    background-color: white;
}

/**mobile**/
@media only screen and (max-width: 420px) {

    /**body**/
    .imgTitre {
        display: none;
        width: 0%;
    }

    h3 {
        font-size: 1em;
    }

    .dragons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .animalFantasy {
        width: 250px;

    }
    .legend2{
        font-size: 15px;
    }
    .legend4{
        font-size: 15px;
    }
    .legend1, .legend3 {
        font-size: 15px;
        position: absolute;
        bottom: 18px;
        width: auto;
        opacity: 0;
    }

    /**images none**/
    .none {
        display: none;
    }

    /**navbar**/
    .navbar {
        height: 30px;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 40px);
        position: absolute;
        top: 40px;
    }

    .active .nav-ul {

        width: 100%;
        display: flex;
    }

    .link>a {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 1rem;
        letter-spacing: 5px;
    }

    .logo img {
        height: 40px;
        background-image: center;
    }

    .mode {
        height: 20px;
        width: 23px;
        background-image: url(/assets/images/dark.jpg);
        background-size: contain;
        margin-left: 10px;
        opacity: 0.5;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
}

/*mediaqueries min */
@media screen and (min-width:768px) {

    /**darkmode**/
    .dark-mode .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-color);
        transition: width 0.4s;
    }

    .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-colorlight);
        transition: width 0.4s;
    }

    .link:hover>a::after {
        width: 100%;
    }
}