/*Fonts*/
@font-face {
    font-family: "fleurDeLeah";
    src: url(./assets/fonts/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: "DawningofanewDay";
    src: url(./assets/fonts/DawningofaNewDay-Regular.ttf);
}

@font-face {
    font-family: "Frederickat";
    src: url(./assets/fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: "RubikBeastly";
    src: url(./assets/fonts/RubikBeastly-Regular.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}

/*variables*/
:root {
    --font-size: 1.1rem;
    --fonth1: "fleurDeLeah", arial, sans-serif;
    --fontnavbar: "Frederickat", sans-serif;
    --navbar-bg-colorlight: rgb(160, 204, 188);
    --navbar-colorlight: black;
    --navbar-bg-color: rgb(53, 32, 32);
    --navbar-color: rgb(248, 238, 225);
    --bg-intro: rgba(216, 199, 199, 0.671);
}


/*reset*/
* {
    outline: none;
    margin: 0;
    padding: 0;

}

ul {
    list-style: none;
    font-weight: 600;
}

/*background body*/
.index {
    background-image: url(./assets/images/Arbre-magique.jpg);
    background-size: cover;
    background-position: 0% 65%;
    font-size: var(--font-size);
    font-family: "DawningofanewDay";
    max-width: 100%;
}

.titleProject {

    height: auto;
    width: 100%;
}

h1 {

    font-family: var(--fonth1);
    color: #defee3;
    text-shadow: 2px 2px 0 #352929, 5px 5px 0 #291a1a;
    font-size: 8vw;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(39, 39, 39), 0 0 1em rgb(89, 0, 255), 0 0 0.2em rgb(10, 116, 42);

}

/** dark-mode **/

.dark-mode .navbar {
    background: var(--navbar-bg-color);


}

.dark-mode .link>a {
    color: var(--navbar-color);
}


/*navbar*/
.logo {
    display: flex;
    align-items: center;
}

.logo img, .mode {
    height: 50px;
}

.mode {
    display: flex;
    align-items: center;

}
.mode img {
    height: 28px;
    width: 31px;
    opacity: 0.7;
    border-radius: 50%;
    border: white;
    background-size: contain;
    margin-left: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 8px;
    height: 40px;
    font-size: 16px;
    background-color: var(--navbar-bg-colorlight);
    font-family: var(--fontnavbar);
    color: var(--navbar-colorlight);
    text-transform: uppercase;
    cursor: pointer;
}

.nav-ul {
    display: flex;

}

.link {
    padding: 0 9px;
}

.link>a {
    color: var(--navbar-colorlight);
    text-decoration: none;
}

/*burger*/
.burger {
    display: none;
}

/*intro page accueil */

.intro {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 60vh;
    width: calc(100% - 65px);
    margin: 30px 30px 0px 30px;
}

h3 {
    font-family: 'Pacifico', Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 3vw;
    text-align: center;

}

.intro p, .intro h3 {
    background-color: var(--bg-intro);
}

.intro p {
    font-family: Georgia, Times, 'Times New Roman', sans-serif;
    font-size: var(--font-size);

    color: rgb(3, 3, 3);
    padding: 10px 0px 10px 0px;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*mediaqueries max*/


@media screen and (max-width:768px) {
    .index {
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
        overflow-x: hidden;

    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 5px;
        height: auto;
        width: calc(100% - 30px);
        margin: 0px 10px 0px 10px;
    }

    .indexh1 h1 {

        width: 100%;
        text-align: center;
        transition: all 0.2s;
        height: auto;
    }

    h1 {
        height: auto;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .intro p, .intro h3 {
        background-color: var(--bg-intro);
        height: auto;

    }

    .intro p {
        font-size: 0.8em;
        letter-spacing: 1px;
        color: rgb(24, 23, 22);
    }

    /**dark mode **/
    .dark-mode .active .nav-ul {
        background: var(--navbar-bg-color);
    }

    .dark-mode .link>a {
        color: var(--navbar-color);
    }

    .dark-mode .bar {
        background-color: white;
    }

    .dark-mode .bar::after {
        background-color: white;
    }

    .dark-mode .bar::before {
        background-color: white;
    }

    /**burger**/

    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 50px);
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--navbar-bg-colorlight);
        transition: width 0.5s 0.1s ease-in-out;
    }

    .active .nav-ul {
        width: 100%;
        display: flex;
    }

    .link>a {
        display: block;
        padding: 10px;
        font-size: 1.3rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    .burger {
        display: block;
        height: 50px;
        width: 50px;

        padding: 0;
        cursor: pointer;
        position: relative;
        background: transparent;
        border: none;
    }

    .bar {
        width: 45px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-10px);
    }

    .bar::after {
        transform: translateY(10px);
    }

    .active .bar {
        width: 0;
        background-color: transparent;
    }

    .active .bar::before {
        transform: rotate(45deg);
    }

    .active .bar::after {
        transform: rotate(-45deg);
    }

}

/**mobile**/
@media only screen and (max-width: 400px) {

    /**navbar**/
    .navbar {
        height: 30px;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 40px);
        position: absolute;
        top: 40px;
    }
    .active .nav-ul {

        width: 100%;
        display: flex;
    }

    .link>a {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        transition: all 0.4s ease-in-out;
    }

    .link>a:hover {
        padding-left: 1rem;
        letter-spacing: 5px;
    }

    .logo img {
        height: 40px;
        background-image: center;
    }

    .mode img{
        height: 20px;
        width: 23px;
        background-size: contain;
        margin-left: 10px;
        opacity: 0.5;
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .bar::after, .bar::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        left: 0;
        background-color: var(--navbar-colorlight);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    /**body**/

    h3{
        font-size: 25px;
    }
    h1{
        font-size: 40px;
    }

    .intro {
        margin: 10px;
        width: auto;
    }

    .index {
        height: auto;
        width: 100%;
        overflow-x: hidden;
    }
}

/*mediaqueries min */
@media screen and (min-width:768px) {

    /**darkmode**/
    .dark-mode .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-color);
        transition: width 0.4s;
    }

    .link>a::after {
        display: block;
        content: '';
        width: 0%;
        height: 1px;
        background-color: var(--navbar-colorlight);
        transition: width 0.4s;
    }

    .link:hover>a::after {
        width: 100%;
    }

}